@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	font-size:12px;
	color: #222;
	font-family: 'Arimo', sans-serif;
	/* font-family: 'Kreon', serif; */
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */

@media (min-width: 1200px)
{
	.wrapper .container { max-width: 1170px;	}
}	

.wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;background-color: #fff;}

.top-header{ padding: 0;margin: 0; }

.top-div { padding: 10px 0;margin: 0;background-color: #0037a1;height: 50px;color: #fff;display: flex;align-items: center;justify-content: center; }
.top-div p{ padding: 0px 0;margin: 0;display: inline-block;font-size:16px;line-height: 36px;font-weight: 400;color: #fff;letter-spacing: 0.3px;position: relative; }
.top-div p a{ padding: 0px 0px 0 0;margin: 0;display: inline-block;font-size:16px;line-height: 36px;font-weight: 400;color: #fff;position: relative; }
.left-top{ padding: 0px 0;margin: 0; }
.right-top{ padding: 0px 0;margin: 0; }
.img-icon{ padding: 0px 0;margin: -1px 10px 0 10px;width: 25px;font-size: 18px; }
.cart-number { padding: 1px 0;margin: 0;background-color: #afd200;border-radius: 100%;height: 25px;width: 25px;display: inline-block;text-align: center;line-height: 25px;font-weight: 400;font-size: 14px;position: absolute;top: -13px;left: 25px;}

.navigation-div{ padding: 0;margin: 0;}
.navigation-div .navbar-custom { height: 100%;padding: 50px 0!important;margin: 0 0 0px 0; }
.navbar-custom .custom-collapse{ float: right!important; }
.navbar-custom li.nav-item { padding: 10px 00px;margin: 0 0;}
.navbar-custom li.nav-item a.nav-link { font-size: 16px;color: #000;margin: 0 0px 0 0;padding: 7px 10px!important;border-bottom: 1px solid transparent;transition: all 0.3ms ease-in-out; text-transform: uppercase;font-weight: 400;    height: 36px;line-height: 24px; }
.navbar-custom li.nav-item a.nav-link:hover,.navbar-custom li.nav-item a.nav-link:focus{ background-color: #0037a1;color: #fff; }
.navbar-custom li.nav-item a.nav-link.active{ background-color: #0037a1;color: #fff; }
.navbar-custom li.nav-item { padding: 0px 30px 0 0;margin: 0 0; }
.navbar-custom li.nav-item:last-child { padding: 0px 0px 0 0;margin: 0 0; }

.navbar-custom .dropdown-item { padding: 10px; }
.navbar-custom .dropdown-menu{ border-radius: 0px!important; min-width: 15em!important; }
.navbar-custom .dropdown-item:focus, .navbar-custom .dropdown-item:hover { color: #222;text-decoration: none;background-color: #0037a1;}

.banner-section{ padding: 0;margin: 0; }
.banner-section img.img-fluid.banner-img01 { width: 100%; }

.carousel-caption01 { position: absolute;right: 15%;bottom: auto;left: 15%;z-index: 10;top: 50%;padding-top: 0px;padding-bottom: 20px;color: #fff;text-align: center; }
.banner-content{ padding: 0;margin: 0; }
.banner-content h3 { padding: 0;margin: 0;font-size: 52px;font-weight: 700;text-transform: uppercase;letter-spacing: 0.8px; }

.banner-section .carousel-indicators li { background-color: rgba(0, 55, 161,1);height: 7px; }
.banner-section .carousel-indicators li.active { background-color: rgba(255, 255, 255,1);height: 5px; }

.carousel-control-div { padding: 0;margin:0; }
.carousel-control-div .arrow-icon { font-size: 24px;color: #000;background: #fff;padding: 0;border-radius: 100%;height: 50px;width: 50px;line-height: 50px;display: none;transition: all 0.4ms ease-in-out; }
.banner-section:hover .carousel-control-div .arrow-icon{ display: block !important;transition: all 0.4s ease-in-out; }


/* Contact us section */

.top-Contact-row{ padding: 0;margin: 0;position: relative; }
.contact-thumb{ padding: 40px 0;margin: 0; }

.contact-details{ padding: 35px 0 10px 0;margin: 0; }
.contact-details p{ padding: 2px 0;margin: 0;font-size: 24px;color: #666666;line-height: 36px; }

.social-icons-div1{ padding: 0;margin: 0;position: relative; }
.social-icons-div1 .list-inline>li { padding-left: 5px;float: left;width: 25%; }
.social-icons-div1 .list-inline>li:first-child { padding-left: 0px;}
.social-icons-div1 .btn-primary { color: #fff;background-color: #0037a1;border-color: #0037a1;transition: all 0.3s ease-in-out;text-transform: uppercase;border-radius: 0px;display: block;font-size: 18px;font-weight: 400;    height: 40px; }
.social-icons-div1 .btn-primary:hover, .social-icons-div1 .btn-primary:focus{ box-shadow: none!important; }
.social-icons-div1 .btn-primary.btn-email { background-color: #6082c8;border: 1px solid #6082c8; }
.social-icons-div1 .btn-primary.btn-facebook-like { background-color: #4267b2; border: 1px solid #4267b2; }
.social-icons-div1 .btn-primary.btn-facebook{ background-color: #1143a9; border: 1px solid #1143a9; }
.social-icons-div1 i.icon-01 { padding-right: 5px;font-size: 20px;margin-top: 0;padding-top: 2px;display: inline-block; }
.social-icons-div1 .img-ci2 { width: 20px; }

/* heading Title */

.title-bg-div {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-bg-div .h2-center-block {
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
	letter-spacing: 0.3px;
	color: #0037a1;
	font-family: 'Kreon', serif; 
}
.title-bg-div .h2-center-block span {
    display: inline-block;
    position: relative;
}
.title-bg-div .h2-center-block span:before, .h2-center-block span:after {
    content: "";
    position: absolute;
    height: 3px;
    border-bottom: 3px solid #0037a1;
    top: 10px;
    width: 110px;
}
.title-bg-div .h2-center-block span:after {
    left: 100%;
    margin-left: 15px;
}
.title-bg-div .h2-center-block span:before {
    right: 100%;
    margin-right: 15px;
}

/* about us */

.aboutus-section{ padding: 0;margin: 0;position: relative; }
.aboutus-div{ padding: 80px 0 20px 0;margin: 0;position: relative; }
.aboutus-div .center-650{ padding: 20px 0;margin: 0 auto;width: 650px; }
.aboutus-div .center-650 p{ padding: 0px 0;margin: 0 auto;line-height: 30px;color: #666666;font-size: 18px;text-align: center; }
.span-block{ display: block; }

.add-furniture-section{ padding: 0;margin: 0;position: relative; }
.add-furniture-div{ padding: 30px 0 30px 0;margin: 0; }

.listing-div {  width: 100%;padding: 20px 0; }
.listing-div .col-custom4{ float: left;margin: 0 0 30px 0; }
.listing-div .box-div { padding: 0; margin: 0;box-shadow: 1px 2px 4px 0px rgba(184, 184, 184, 0.75);position: relative; }

.box-div .box-content{  padding: 0px 0px;margin: 0; }
.box-div .box-content .row-div01{  padding: 10px;margin: 0;height: 80px;display: flex;justify-content: center;align-items: center;border-bottom: 2px double #ccc;overflow: hidden; }
.box-div .box-content .row-div01 p{  padding: 0;margin: 0;font-size: 16px;line-height: 22px;text-align: center;font-weight: 400; }
.box-div .box-header01 { height: 100%; max-height: 265px;    overflow: hidden;position: relative; }
.box-div .box-header01 .left-01 { position: absolute;top: 15px;left:15px;padding: 0px; }
.box-div .box-header01 .left-01 .sale-round01 { height: 58px; width: 58px; background: #ff0000; display: flex; text-align: center; justify-content: center; align-items: center; color: #fff; font-size: 15px;border-radius: 100%;   letter-spacing: 0.22px; }

.box-div .box-content .row-div02 { padding: 15px 10px;margin: 0;display: flex;justify-content: center;align-items: center;height: 75px; }
.box-div .box-content .row-div02 p{  padding: 0px 0;margin: 0;font-size: 15px;letter-spacing: 0.2px;line-height: 22px;  }
.box-div .box-content .row-div02 .color-prize{ color: #ff0000; }
.box-div .box-content .width-50{ width: 50%;float: left;padding: 0;margin: 0; }

/* End of about us */

.desk01-section{ padding: 0;margin: 0;position: relative; }
.desk01-div{ padding: 0px 0 20px 0;margin: 0;position: relative; }

.listing-div02{ width: 100%;padding: 20px 0; }
.listing-div02 .col-custom4{ float: left;margin: 0 0 20px 0; }
.listing-div02 .box-div01{ padding: 0;margin: 0; }

.active-box .box-header01 .play-img{ background-color: rgba(0, 54, 161, 0.4)!important; }
.desk-img01{ width: 100%; }
.box-div01 .box-header01 { height: 100%; overflow: hidden;position: relative; }
.box-div01 .box-header01 .play-img { padding: 0;margin: 0;width: 100%;height: 100%;position: absolute;top: 0;display: flex;justify-content: center; align-items: center; }
.box-div01 .box-header01 .play-img .icon-play { padding: 0;margin:0;width: 52px;height: 52px; }


/* End of Desk div  */

.installation01-section{ padding: 0;margin: 0; }
.installation01-div{ padding: 50px 0 50px 0;margin: 0; }

.map-section{ padding: 0;margin: 0; }
.map-section .map-iframe{ padding: 0;margin: 0;width: 100%;min-height: 430px; }

.ul-box01{ padding: 0;margin: 0;position: relative; }
.ul-box01 .h4-heading{ padding: 0;margin: 0;font-size: 16px;letter-spacing: 0.6px;line-height: 32px;color: #222; }
.ul-box01 .ul-custom01 { list-style: none;padding: 5px 0 0 0;padding-left: 30px; }
.ul-box01 li{ padding: 0;margin: 0;color: #555;font-size: 14px;letter-spacing: 0.6px;line-height: 32px;}
.ul-box01 li p{ padding: 0;margin: 0; }
.ul-box01 li span.list-icon { position: absolute;left: 0; }
.ul-box01 .p-01{ padding: 0;margin: 0;font-size: 16px;letter-spacing: 0.6px;line-height: 32px;color: #222; }
.ul-box01 .p-01 a{ color: #222; }

.installation01-div .title-bg-div { padding: 10px 20px 20px 20px; }

/**  End of installation01 */

.video01-section{ padding: 0;margin: 0;position: relative; }
.video01-div{ padding: 0 0 20px 0;margin: 0; }

.listing-div03{ width: 100%;padding: 20px 0 40px 0;margin: 0 auto;text-align: center; }
.listing-div03 .col-custom4{ float: left;margin: 0 0 20px 0; }
.listing-div03 .box-div01{ padding: 0;margin: 0; }
.listing-div03 .video-img01{ padding: 0;margin: 0; }
.listing-div03 .video-main-div{ padding: 0;margin: 0 auto;width: 800px; }
.video-main-div .video-iframe {  margin: 0;padding: 0;width: 100%;height: 500px;border: none; outline: none; }

.video-tag01{ padding: 0;margin: 0 auto;text-align: center;width: 100%; }
.mejs__overlay-button { background: url(../images/icons/mejs-controls.svg) no-repeat;background-position: 0 -39px;height: 80px;width: 80px; }


.btn.btn-primary.btn-custom1{ width: 100%; border-radius: 0px; background-color: #002c82; border: 1px solid #002c82; font-size: 16px; letter-spacing: 0.2px; line-height: 22px; box-shadow: none; outline: none;height: 44px;transition: all 0.3s ease-in-out;  }
.btn.btn-primary.btn-custom1:hover, .btn.btn-primary.btn-custom1:focus, .btn.btn-primary.btn-custom1:active{ background-color: #000; border: 1px solid #002c82; outline: none;}

.footer-section{ padding: 0;margin: 0; }
.footer-div{ padding: 60px 50px;margin: 0;background-color: #3c3c3e; }

.footer-content1{ padding: 10px 10px 10px 0;margin: 0; }
.footer-content1 p { padding: 10px 0;margin: 0;color: #f2f2f2;line-height: 26px;font-size: 15px;font-weight: 300; }
.footer-h2{ padding: 0;margin: 0;text-transform: uppercase;color: #fff;font-size: 26px;letter-spacing: 0.2px;text-transform: uppercase;font-weight: 700;font-family: 'Kreon', serif; }
.footer-h2 .border-01 { height: 2px;background-color: #fff;width: 50px;margin: 10px 0; }

.footer-box01{ padding: 0;margin: 0;position: relative; }
.footer-box01 .h4-heading{ padding: 0;margin: 0;font-size: 16px;letter-spacing: 0.6px;line-height: 32px;color: #222; }
.footer-box01 .ul-custom01 { list-style: none;padding: 5px 0 0 0;padding-left: 30px; }
.footer-box01 li{ padding: 0;margin: 0;color: #555;font-size: 14px;letter-spacing: 0.6px;line-height: 32px;}
.footer-box01 li p{ padding: 0;margin: 0; }
.footer-box01 li span.list-icon { position: absolute;left: 0; }
.footer-box01 .p-01{ padding: 0;margin: 0;font-size: 16px;letter-spacing: 0.6px;line-height: 32px;color: #222; }
.footer-box01 .p-01 a{ color: #222; }

.footer-box01 .payment-ul-list { padding: 0;margin: 0; }
.footer-content3 .payment-ul-list li{ padding: 0;margin: 0;width: 25%;float: left;padding-right: 5px;  }
.footer-content3 .payment-ul-list li img{ padding: 0;margin: 0;border-radius: 4px; }

.footer-content1 .icon-footer01 { color: #fff;margin: 7px 0 0 0;display: block; }
.footer-content3 li { margin:0 0 10px 0;text-transform: uppercase; }
.footer-bottom-2 { background-color: #1e1d1d;height: 70px;display: flex;justify-content: center;align-items: center;padding: 20px; }
.footer-bottom-2 p{ padding: 0px;margin: 0;text-align: center;color: #fff;font-size: 15px; }

.mb-block{ display: inline-block; }

/** End of Home **/

/******* About us **********/

.middle-inner-div{ padding: 0px 0 50px 0;margin: 0; }

.innerbanner-section{ padding: 0;margin: 0;position: relative; }
/*.innerbanner-div{ padding: 0;margin: 0;background: url("../images/banner01.jpg") no-repeat bottom;background-size: cover;height: 300px; display: flex;justify-content: center; align-items: center; }*/

.innerbanner-div { padding: 0;margin: 0;background: #7a60c8 url(../images/bg-page-section.png) no-repeat bottom;background-size: cover;height: 160px;display: flex;justify-content: center;align-items: center;box-shadow: 0 0 10px 0 #7a60c8; }
.innerbanner-div .center-div1{ padding: 0;margin: 0; }
.innerbanner-div .center-div1 h2 { padding: 0;margin: 0;font-size: 42px;font-weight: 700;text-transform: uppercase;letter-spacing: 0.8px;color: #fff;text-align: center; }
.innerbanner-div .breadcrumb-div1{ padding: 0;margin: 0;position: relative; }
.innerbanner-div .breadcrumb-div1 .breadcrumb { background-color: transparent;text-align: center; justify-content: center;padding: 15px 0 0 0;margin: 0; }
.innerbanner-div .breadcrumb-div1 .breadcrumb-item{ font-size: 16px;text-transform: uppercase;color: #fff; }
.innerbanner-div .breadcrumb-div1 .breadcrumb-item.breadcrumb-link1 a{ color:#fff; }
.innerbanner-div .breadcrumb-item+.breadcrumb-item::before { color: #fff; }

.abouti01-div1{ padding: 0px 0 0 0;margin: 0;position: relative; }
.aboutimg-thumb{ padding: 0;margin: 0; }

.abouti01-div1 .about-right{ margin: 20px 0 0 0; }

.about-center1 .center-650{ width: 100%!important;padding: 20px 50px!important; }
.about-center1 .center-650 .span-block{ display: inline; }

/* Shop **/

.sidebar-shop { margin:0; padding:0; position:relative;}
.blk-title { margin: 0 0 40px 0;padding: 0;color: #222;font-size: 18px;text-transform: uppercase;font-weight: 700;position: relative;letter-spacing: 0.2px; }
.blk-title:after { content:""; background:#222; height:3px; width:50px; position:absolute; bottom:-10px; left:0;}

.product-categories {margin:0; padding:0; position:relative;}
.product-categories li { float: left; list-style: none;  margin: 0;   width: 100%;   position: relative;   border-bottom: 1px solid rgba(0,0,0,0.07);}
.product-categories li:last { border-bottom:0;}
.product-categories li a {display: inline-block; color: #656565;padding: 10px 0; font-size:13px; text-transform: capitalize;}
.product-categories li a::before { display: inline-block;  content: "\f105";   font-family: FontAwesome;    margin-right: 10px;    font-size: 1.1429em;    line-height: 1;    margin-left: 1px;    color: #333;}
.product-categories li a:hover { color:#000;}

.shop-products { position:relative; margin:0 15px 20px 15px; padding:0 0 10px 0; border-bottom:1px solid #ddd;}
.shop-products:last-child { border-bottom:0px solid #ddd;}
.shop-products .toolbar { margin:0 0px 25px 0px; padding:0; position:relative; width:100%; }
.shop-products .result-count { margin: 0;padding: 5px 0 0 0;position: relative;font-size: 16px;font-weight: 400;letter-spacing: 0.4px; }
.shop-products .ordering{ margin:0; padding:0; position:relative;text-align:right; }
.shop-products .product-listing { margin:0 -15px;}

.select-form1:hover,.select-form1:focus{ box-shadow: none!important; }
select.form-control.select-form1 { padding: 0 10px;font-size: 14px;text-transform: capitalize;border-radius: 0px; }

.listing-shop{ padding: 0;margin: 0; }

.pagination-div{ padding: 0px 0 0 0;margin: 0 0 0px 0;background-color: #fff;width: 100%;display: flex; }
.pagination-div ul{padding: 10px 0; margin: 0 auto; }
.pagination-div ul li{ height: 40px;width: 40px;background: #fff;line-height: 40px;text-align: center;color: #0037a1; }
.pagination-div ul li.active span{ border-radius: 100%;background-color: #0037a1;color: #fff;height: 30px;width: 30px;display: inline-block;line-height: 30px; }
.pagination-div ul li a{ color: #0037a1!important;text-decoration: none; }
.pagi_0{ padding: 0!important; }
.general-container-div { padding: 50px 0;margin: 0;position: relative; }

.product-listing .box-div .box-header01 .left-01 .sale-round01 { height: 45px;width: 45px;font-size: 15px;}

/* End of Shop */

/** Shop Details ********/


.product-details-section{ padding:0px;margin:0px;position: relative; }
.product-details-div{ padding:0px;margin:0px;position: relative; }

.detail-box .caption h3 { font-size: 24px;font-weight: 600;line-height: 1.4;text-transform: none;color: #222;margin-bottom: 10px; }
.detail-box .caption p { font-size: 14px; padding: 0px 0; display: block; color: #222; margin-bottom: 10px; }
.detail-box .caption h2 { font-size: 30px; padding: 8px 0; font-weight: 600; text-transform: none; color: #0037a1; margin: 10px 0 10px 0; }
.detail-box .add-cart { padding: 0; margin: 0; display: block; }
.detail-box .add-cart .qty { display: inline-block; padding-right: 5px; float: left; }
.detail-box .add-cart .form-control { margin-top: 0px; width: 120px; padding: 10px 15px; font-size: 13px; height: 40px; border: 1px solid #ddd; border-radius: 0px; box-shadow: none; }
.detail-box .add-cart .btn-addcart { background-color: #0037a1; margin: 0px 0px 0 0px; color: #fff; padding: 8px 20px; height: 40px; border-radius: 0px; letter-spacing: 0.5px; text-transform: uppercase; transition: all 0.3s ease-in-out; display: inline-block; border: 1px solid #000; }
.detail-box .add-cart .btn-addcart:hover { background-color: #000;border: 1px solid #000; }
.social-icons{ padding: 20px 0; }
.social-icons .list-inline>li{ padding-bottom: 10px;display: inline-block;margin-right: 3px; }
.social-icons ul > li> a{ padding: 5px 10px;border-radius: 0px; }
.social-icons ul > li> a > span{ padding: 0px 0px 0 0px;font-size: 13px;}
.social-icons .btn-primary { color: #fff;background-color: #000;border-color: #000000;transition: all 0.3s ease-in-out;}
.social-icons .btn-primary:hover { color: #fff;background-color: #000;border-color: #000;}
.social-icons i {padding: 0 5px 0 0;font-size: 12px;line-height: 12px;}
.social-icons .btn-primary.btn-facebook{color: #fff;background-color: #005397;border-color: #005397;}
.social-icons .btn-primary.btn-google{color: #fff;background-color: #cf4c3c;border-color:#cf4c3c;}
.social-icons .btn-primary.btn-twitter{color: #fff;background-color: #1b95e0;border-color: #1b95e0;}
.social-icons .btn-primary.btn-linkedin{color: #fff;background-color: #0077b4;border-color: #0077b4;}

.pro_desc{ margin-top: 30px; }
.p_desc{ padding: 15px;margin: 0;border: 1px solid #ddd;width: 100%; }
.p_desc p { font-size: 15px; line-height: 28px; font-weight: 400; padding: 0; margin: 0;text-transform: capitalize; }
.owl-carousel1 .img-slider-block { height: 290px;overflow: hidden;}
.slider-div-1{ width: 370px;overflow: hidden;}
.inner-relatedpage1{ padding: 0;margin: 40px 0 0 0; }

.product-details-div .pdetails-4 .img-slider{ width: 100%;  }

/* End of shop details */

/* DELEVERY & INSTALLATION */

.di-thumb-box01{ padding: 0;margin: 0; }
.di-thumb-box01 .di-img1{ padding: 0;margin: 0;width: 100%; }
.delevery-left {  margin: 10px 0 0 0; }

.di-section{ padding: 0;margin: 0;position: relative; }
.di-div{ padding: 80px 0 20px 0;margin: 0;position: relative; }
.di-div .center-650{ padding: 20px 0;margin: 0 auto;width: 650px; }
.di-div .center-650 p{ padding: 0px 0;margin: 0 auto;line-height: 30px;color: #666666;font-size: 18px;text-align: center; }

/* End of DELEVERY & INSTALLATION */

/* Contact Us */

.contact_section {   margin: 0;padding: 0;position: relative; }
.contact_div{ padding: 80px 0 0px 0;margin: 0;position: relative; }
.contact_div .center-650{ padding: 20px 0;margin: 0 auto;width: 650px; }
.contact_div .center-650 p{ padding: 0px 0;margin: 0 auto;line-height: 30px;color: #666666;font-size: 18px;text-align: center; }
.contect-form-div .form-group {   margin-bottom: 15px; }
.contect-form-div label { padding: 10px 0;margin: 0;color: #222;font-weight: 400;font-size: 14px;letter-spacing: 1px;text-transform: capitalize; }
.contect-form-div .form-control { border-color: #e9e9e9;-webkit-box-shadow: none;box-shadow: none;outline: none;height: auto;line-height: 26px;margin-bottom: 20px;border-radius: 0px;box-shadow: none; }
.contect-form-div .form-control:hover,.contect-form-div .form-control:focus{ box-shadow: none;border: 1px solid #ddd; }
.contect-form-div .post-comment-btn { padding:0 20px;border-radius: 0px;background-color: #002c82;border: 1px solid #002c82;font-size: 16px;letter-spacing: 0.5px;box-shadow: none;outline: none;height: 44px;transition: all 0.3s ease-in-out;color: #fff;text-transform: uppercase; }
.contect-form-div .post-comment-btn:hover {border: 1px solid #000;background-color: #000;}

.contect-form-div{ padding: 0;margin: 0 0 60px 0;width: 100%; }
.map-div { padding: 0;margin: 0;width: 100%;height: 100%;display: flex; }
.iframe-map{ padding: 0;margin: 0;width: 100%;height: 400px; }

/* End of Contact Us */

/***  ADJUSTABLE DESK  ***/

.add-desk01-section{ padding: 80px 0;margin: 0;position: relative; }
.add-desk01-div{ padding: 0;margin: 0; }
.add-desk01-div .center-650{ padding: 20px 0;margin: 0 auto;width: 650px; }
.add-desk01-div .center-650 p{ padding: 0px 0;margin: 0 auto;line-height: 30px;color: #666666;font-size: 18px;text-align: center; }
.add-desk01-div .listing-div02 .col-custom4 { padding: 0 10px; }

.modal-video-close-btn { width: 35px; height: 35px; outline: none!important; }
.modal-video-close-btn:hover, .modal-video-close-btn:focus, .modal-video-close-btn:active{ outline: none !important; }

/*** End of ADJUSTABLE DESK  ***/

/* general */

.btn:hover,.btn:focus{ box-shadow: none!important;transition: all 0.3s ease-in-out; }

/* end of general */

/* modal */

.bg-fixedmodal{ position: fixed;width: 100%; }
.modal-video-close-btn { font-size: 24px;outline: none!important;color: #fff; }

/* End of modal */

.mobile-no,.mailto-link{ color: #fff !important; }



@media (min-width: 1200px){
	.container { max-width: 1200px;}
}


@media only screen and (max-width: 767px){
	
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.container { width:100% !important;}
	.canvas { margin:0!important; padding:0!important;}

	.right-top { margin:10px 0 0 0;}
	.custom-logo-link { width:80%;}
	.navbar-custom .custom-logo {   width: 100%;   height: auto;}
	div#n2-ss-2 .n2-ss-layer .n2-font-dfd33d4495fa8364510322f6c0963ecb-hover { font-size:32px!important; padding: 20px;}

	.cardbox-div { padding: 20px 0; margin: 10px 0 0 0;}
	
	.banner-section .carousel-control-div .arrow-icon {font-size: 18px;height: 30px;width: 30px;line-height: 30px; }
	.banner-section .carousel-caption01 { top: 40%;padding: 0 20px; }

	/* custom css */
	.top-div {height: 100%;padding: 8px 0;}
	.top-div p{ font-size: 12px;line-height: 24px!important; }
	.top-div p a{ font-size: 12px;line-height: 24px!important; }
	.right-top.float-right {	float: left!important;}
	.img-icon { margin: -1px 10px 0 10px;width: 16px;	}
	.cart-number { height: 20px;width: 20px;line-height: 20px;font-size: 11px;	top: -6px;left: 18px;}
	/*.navbar-toggler {	border: 1px solid transparent;border-radius: .25rem;background: transparent;position: absolute;right: 0;}*/
	.navbar-brand { display: inline-block;padding-top: 0;padding-bottom: 0;margin-right: 0;}
	.navbar-toggler {float: right;padding: 0!important;font-size: 21px!important;line-height: 1;background-color:transparent!important;border-radius: 0;color: rgba(255, 255, 255, .0)!important;border-color: rgba(255, 255, 255, .0)!important;}
	button.navbar-toggler:focus {outline: 0px dotted;outline: 0px auto -webkit-focus-ring-color;}
	.navbar-custom {height: 100%;}
	.navbar-custom .img-logo {	width: 220px;}
	.menu-bars { margin-top: 0px;display: inline-block;vertical-align: middle;transition: all .3s ease-in-out;background: url(../images/menubar.png) no-repeat;width: 20px;height: 22px;background-size: contain;}
	.navbar-custom li.nav-item {padding: 10px 5px;margin: 0 0;}
	.navbar-custom a.nav-link {font-size: 16px;	padding: 5px 0!important;}
	.navbar-custom a.active { border-bottom: 0px solid #000;}

	.banner-div .banner-content h1 {padding: 0 0px;margin: 0;font-size: 22px;line-height: 36px;}
	.banner-div .banner-content p {padding: 30px 40px;font-size: 14px;width: 100%;line-height: 30px;}
	.btn.btn-primary.btn-custom-1 { border: 2px solid #afd200;padding: 9px 30px 10px 30px;font-size: 16px;height: 100%;}
	.btn.btn-primary.btn-outline-1{ border: 2px solid #fff;padding: 9px 30px 10px 30px;font-size: 16px;height: 100%;}
	.banner-div {height: 500px;}
	.banner-title {font-size: 10px !important;}

	/***************/
	/*** Start Home	*****/

	.top-div p { display: block;	text-align: center; width: 100%; }
	.img-logo-contact { width: 200px;margin: 0 auto; }
	.contact-thumb { padding: 10px 0;margin: 0 auto;text-align: center; }
	.contact-details {	padding: 10px 0 15px 0;margin: 0; }
	.contact-details p { font-size: 14px;color: #666666;line-height: 18px;text-align: center; }
	.social-icons-div1 .list-inline>li { width: 50%;padding: 2px!important; }

	.navigation-div .navbar-custom { height: 100%;padding: 0!important;margin: 0; }
	button.navbar-toggler {	padding: 15px 17px!important;display: block;width: 100%;text-align: left; }

	.navigation-div { padding: 10px 0;margin: 0;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd; }
	.navigation-div .menu-span01{ display: inline-block; }
	.navigation-div .custom12nav{ padding: 0!important; }
	.navigation-div .menu-span01 {	display: inline-block;color: #0037a1;font-size: 17px;letter-spacing: 0.2px;padding: 0; }

	.banner-content h3 { font-size: 16px; }
	.carousel-indicators { bottom: 0!important;margin-bottom: 12px; }
	.banner-section .carousel-indicators li { height: 5px; }

	.title-bg-div .h2-center-block { font-size: 18px; }
	.title-bg-div .h2-center-block span:before, .h2-center-block span:after { height: 3px;border-bottom: 2px solid #0037a1;top: 10px;width: 60px; }

	.aboutus-div { padding: 50px 0 20px 0; }
	.aboutus-div .center-650 {	padding: 0 0px;width: 100%; }
	.aboutus-div .center-650 p { padding: 0px 0;line-height: 22px;font-size: 13px; }
	.aboutus-div .span-block {	display: inline; }

	.navbar-custom li.nav-item { padding: 0;margin: 0 0; }
	.navbar-custom li.nav-item a.nav-link { padding: 10px 20px!important;height: 40px;}

	.add-furniture-div .title-bg-div .h2-center-block span { width: 170px; }
	.add-furniture-div .title-bg-div .h2-center-block span:before,.add-furniture-div .h2-center-block span:after { top: 20px; }

	.listing-div .col-custom4 { margin: 0 0 15px 0; }
	.box-div .box-header01 .left-01 .sale-round01 { height: 35px; width: 35px;font-size: 12px; } 
	.box-div .box-header01 .left-01 { padding: 0px;top: 10px;left: 10px; }
	.box-div .box-content .row-div01 p { font-size: 13px;line-height: 20px; }
	.box-div .box-content .row-div02 p { font-size: 12px;line-height: 20px; }
	.listing-div .col-custom4 {	margin: 0 0 15px 0;padding: 0 8px; }

	.btn.btn-primary.btn-custom1 { width: 100%;font-size: 12px;padding: 0;height: 36px; }
	.listing-div {	padding: 20px 5px; }

	.listing-div02 .col-custom4 { width: 33%;padding: 5px; }
	.listing-div02 { padding: 20px 5px; }
	.box-div01 .box-header01 .play-img .icon-play { width: 30px;height: 30px; }

	.listing-div03 .video-main-div { width: 100%; }
	
	.footer-div { padding: 50px 00px; }
	.footer-content1 { padding: 10px 10px 20px 0; }
	.footer-box01 li p { word-break: break-all; }
	.footer-bottom-2 { height: 100%;padding: 15px 0; }
	.footer-bottom-2 .mb-block { display: block; }
	.footer-bottom-2 p { line-height: 21px; }
	.footer-bottom-2 .vline-span{ display: none; }

	.iorder-01{ order: 2;padding: 0!important; }
	.iorder-02{ order: 1; }

	.installation01-div { padding: 00px 0 50px 0;margin: 0; }
	.installation01-div .title-bg-div .h2-center-block span{ width: 150px; }
	.installation01-div .title-bg-div .h2-center-block span:before,.installation01-div .h2-center-block span:after{ top: 20px; }

	.map-section .map-iframe {	margin: 50px 0 0 0;min-height: 250px; }
	
	/* End of Home */

	/******* About us **********/

	.about-center1 .center-650 { padding: 0px 0px!important; }
	.abouti01-div1 .about-right { padding: 0; }

	/******* End of About us **********/

	/* Start Shop Page */

	.shop-products{ padding:40px 0 0 0;}
	.general-container-div{ padding: 50px 0 10px 0; }
	
	.shop-products .result-count { padding: 10px 0; }
	.toporderm2 { order: 2;text-align: center; }

	/* End of Shop */

	/* shop details */

	.pdetails-8 .caption { padding: 30px 0 0 0;margin: 0 -15px; }
	.pro_desc { margin-top: 20px; }
	.inner-relatedpage1 { margin: 20px 0 0 0;padding: 20px 10px; }	
	.inner-relatedpage1 .ptablet0{ padding: 0 10px; }
	
	/* End of shop details */

	/* DELEVERY & INSTALLATION */

	h2.h2-center-block.delevery-h2 { width: 160px; }

	.delevery-title-div .delevery-h2 span:before, .delevery-title-div .delevery-h2 span:after { top: 20px; width: 60px; }
	
	.di-div .center-650{ padding: 20px 0;margin: 10px auto;width: 650px; }
	.di-div .center-650 p{ padding: 0px 0;margin: 0 auto;line-height: 30px;color: #666666;font-size: 18px;text-align: center; }
	.di-div .delevery-div1 .ul-box01{ padding: 20px 0 0 0;margin: 0; }
	.di-div .delevery-div1 .ul-box01 .h4-heading { line-height: 24px;margin: 10px 0 10px 0; }
	.di-div .delevery-div1 .ul-box01 li,.ul-box01 .p-01 { line-height: 24px;margin: 0 0 10px 0; }
	
	/* End of DELEVERY & INSTALLATION */

	/* contact us */

	.contact_section .center-block{ padding: 10px 0 0 0;margin: 0 0 30px 0; }

	/* End of contact us */

	/* ADJUSTABLE DESK */

	.add-desk01-div .listing-div02 { padding: 20px 5px 0 5px; }
	.add-desk01-div .listing-div02 .col-custom4 { padding: 0 5px;margin: 0 0 10px 0; }
	
	/* End of ADJUSTABLE DESK */

	.modal-video-body { max-width: 330px; }
	.modal-video-close-btn {	right: -10px;top: -40px;position: fixed; }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
	.container { width:100% !important;}
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}

	/* custom css */
	
	.navbar-brand { display: inline-block;padding-top: 0;padding-bottom: 0;margin-right: 0;}
	.navbar-toggler {float: right;padding: 30px 0!important;font-size: 21px!important;line-height: 1;background-color:transparent!important;border-radius: 0;color: rgba(255, 255, 255, .0)!important;border-color: rgba(255, 255, 255, .0)!important;}
	button.navbar-toggler:focus {outline: 0px dotted;outline: 0px auto -webkit-focus-ring-color;}
	.navbar-custom {height: 100%; padding: 0px 0!important;}
	.navbar-custom .img-logo {	width: 220px;}
	.navbar-custom li.nav-item {padding: 10px 5px;margin: 0 0;}
	.navbar-custom a.nav-link {font-size: 16px;	padding: 5px 0!important;}
	.navbar-custom a.active { border-bottom: 0px solid #000;}

	.banner-div .banner-content h1 {padding: 0 0px;margin: 0;font-size: 36px;line-height: 56px;}
	.banner-div .banner-content p {padding: 30px 40px;font-size: 14px;width: 100%;line-height: 30px;}
	.btn.btn-primary.btn-custom-1 { border: 2px solid #afd200;padding: 9px 30px 10px 30px;font-size: 16px;height: 100%;}
	.btn.btn-primary.btn-outline-1{ border: 2px solid #fff;padding: 9px 30px 10px 30px;font-size: 16px;height: 100%;}
	.banner-div {height: 500px;}

	/***************/
	/*** Start Home	*****/

	.top-header .container{ max-width: 100%; }
	
	
	.contact-thumb { padding: 40px 0;min-height: 300px;display: flex;justify-content: center; align-items: center; }
	.contact-details p { font-size: 16px;line-height: 24px; }
	.social-icons-div1 .list-inline>li { width: 50%;padding: 2px!important; }

	.navigation-div .navbar-custom { height: 100%;padding: 0!important;margin: 0; }
	.navigation-div .navbar-toggler {	padding: 10px 20px !important;display: block;width: 100%;text-align: left; }

	.navigation-div { padding: 10px 0;margin: 0;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd; }
	.navigation-div .menu-span01{ display: inline-block; }
	.navigation-div .custom12nav{ padding: 0!important; }
	.navigation-div .menu-span01 {	display: inline-block;color: #0037a1;font-size: 17px;letter-spacing: 0.2px;padding: 0; }

	.navigation-div .container{ max-width: 100%; }
	.navigation-div .navbar-nav { padding: 10px 0 0 0; }
	

	.banner-content h3 { font-size: 36px; }
	.banner-section .carousel-indicators li { height: 5px; }

	.title-bg-div .h2-center-block { font-size: 21px; }
	.title-bg-div .h2-center-block span:before, .h2-center-block span:after { height: 3px;border-bottom: 2px solid #0037a1;top: 10px;width: 60px; }

	.menu-bars { margin-top: 0px;display: inline-block;vertical-align: middle;transition: all .3s ease-in-out;background: url(../images/menubar.png) no-repeat;width: 21px;height: 23px;background-size: contain; }

	.navbar-custom li.nav-item { padding: 0;margin: 0 0; }
	.navbar-custom li.nav-item a.nav-link { padding: 10px 20px!important;height: 40px;}


	/***************/

	.aboutus-div { padding: 50px 0 20px 0; }
	.aboutus-div .center-650 {	padding: 0 0px;width: 100%; }
	.aboutus-div .center-650 p { padding: 0px 0;line-height: 22px;font-size: 16px; }
	
	.listing-div .col-custom4 { margin: 0 0 15px 0; }
	.box-div .box-header01 .left-01 .sale-round01 { height: 35px; width: 35px;font-size: 12px; } 
	.box-div .box-header01 .left-01 { padding: 0px;top: 10px;left: 10px; }
	.box-div .box-content .row-div01 p { font-size: 13px;line-height: 20px; }
	.box-div .box-content .row-div02 p { font-size: 12px;line-height: 20px; }
	.listing-div .col-custom4 { margin: 0 0 15px 0;padding: 0 8px;min-height: 315px; }

	.btn.btn-primary.btn-custom1 { width: 100%;font-size: 12px;padding: 0;height: 36px; }
	.listing-div {	padding: 0px 5px; }

	.listing-div02 .col-custom4 { width: 33%;padding: 5px; }
	.listing-div02 { padding: 00px 5px; }
	.box-div01 .box-header01 .play-img .icon-play { width: 30px;height: 30px; }

	.listing-div03 .video-main-div { width: 100%; }
	.box-div .box-content .row-div02 {	height: 70px; }

	.iorder-01{ order: 2;padding: 0!important; }
	.iorder-02{ order: 1; }

	.installation01-div { padding: 00px 0 50px 0;margin: 0; }
	.map-section .map-iframe {	margin: 30px 0 0 0;min-height: 250px; }

	.footer-div .container{ max-width: 100%; }

	.footer-div { padding: 50px 15px; }
	.footer-content1 { padding: 10px 10px 20px 0; }
	.footer-box01 li p { word-break: break-all; }
	.footer-bottom-2 { height: 100%;padding: 15px 0; }
	.footer-bottom-2 .mb-block { display: block; }
	.footer-bottom-2 p { line-height: 21px; }
	.footer-bottom-2 .vline-span{ display: none; }

	.footer-h2{ font-size: 21px; }
	.footer-content1 p {line-height: 21px;font-size: 14px;	}
	.footer-grid4{ padding: 0 5px!important; }

	.footer-bottom-2 .bottom-p01 .mb-block{ display: inline-block; }

	/* End of Home */

	/******* About us **********/

	.about-center1 .center-650 { padding: 0px 0px!important; }
	.abouti01-div1 .about-right { padding: 0; }
	/*.innerbanner-div .breadcrumb-div1 .breadcrumb { padding: 10px 0 7px 0;background: #0037a1;margin: 15px 30px; }
	.innerbanner-div .breadcrumb-div1 .breadcrumb-item.breadcrumb-link1 a {	color: #fff; }
	.innerbanner-div .breadcrumb-div1 .breadcrumb-item{	color: #fff; }
	.innerbanner-div .breadcrumb-item+.breadcrumb-item::before { color: #fff;	}*/

	.blk-title { font-size: 16px; }

	/******* End of About us **********/

	
	/* shop details */

	.pdetails-8 .caption { padding: 30px 0 0 0;margin: 0 -15px; }
	.pro_desc { margin-top: 20px; }
	.inner-relatedpage1 { margin: 20px 0 0 0;padding: 20px 10px 0 10px; }	
	.inner-relatedpage1 .ptablet0{ padding: 0 5px; }
	.listing-div .col-custom3 { padding: 0 5px; }
	.product-details-div .caption {padding: 0 15px; }
	.di-div { padding: 50px 0 20px 0; }

	/* End of shop details */

	/* DELEVERY & INSTALLATION */

	.di-div .center-650{ padding: 20px 0;margin: 10px auto;width: 650px; }
	.di-div .center-650 p{ padding: 0px 0;margin: 0 auto;line-height: 30px;color: #666666;font-size: 18px;text-align: center; }
	.di-div .delevery-div1 .ul-box01{ padding: 20px 0 0 0;margin: 0; }
	.di-div .delevery-div1 .ul-box01 .h4-heading { line-height: 24px;margin: 10px 0 10px 0; }
	.di-div .delevery-div1 .ul-box01 li,.ul-box01 .p-01 { line-height: 24px;margin: 0 0 10px 0; }

	/* End of DELEVERY & INSTALLATION */

	/* contact us */

	.contact_section .center-block{ padding: 10px 0 0 0;margin: 0 0 30px 0; }

	/* End of contact us */

	/* ADJUSTABLE DESK */

	.add-desk01-div .listing-div02 { padding: 20px 0px 0 0px; }
	.add-desk01-div .listing-div02 .col-custom4 { padding: 0 5px;margin: 0 0 10px 0; }
	
	/* End of ADJUSTABLE DESK */


	.modal-video-body {  max-width: 600px; }

	



}

@media only screen and (min-width: 1024px) and (max-width: 1366px)
{

	.navbar-custom li.nav-item a.nav-link {	padding: 5px 12px!important;height: 100%; }
	.map-section .map-iframe {	min-height: 400px; }
	.iorder-02 { order: 2; }
	.iorder-01 { order: 1; }
	.box-div .box-content .row-div02 { height: 60px; }
	.ul-box01 {	margin: 0 0 0 20px; }

	/* DELEVERY & INSTALLATION */

	.di-div .delevery-div1 .ul-box01 {padding: 0px 0 0 0;}
	

	/* End of DELEVERY & INSTALLATION */

}

